<header>
    <h3>ALWAYS CARING</h3>
    <h1>Our Specialties</h1>
</header>
<div class="grid-container">
    <div class="grid-item">
        <img src="../../../assets/img/Vecr.png" alt="Neurology Icon">
        <span>Neurology</span>
    </div>
    <div class="grid-item">
        <img src="../../../assets/img/Vecr.png" alt="Bones Icon">
        <span>Bones</span>
    </div>
    <div class="grid-item">
        <img src="../../../assets/img/Vecr.png" alt="Oncology Icon">
        <span>Oncology</span>
    </div>
    <div class="grid-item">
        <img src="../../../assets/img/Vecr.png" alt="Otorhinolaryngology Icon">
        <span>Otorhinolaryngology</span>
    </div>
    <div class="grid-item">
        <img src="../../../assets/img/Vecr.png" alt="Ophthalmology Icon">
        <span>Ophthalmology</span>
    </div>
    <div class="grid-item">
        <img src="../../../assets/img/Vecr.png" alt="Cardiovascular Icon">
        <span>Cardiovascular</span>
    </div>
    <div class="grid-item">
        <img src="../../../assets/img/Vecr.png" alt="Pulmonology Icon">
        <span>Pulmonology</span>
    </div>
    <div class="grid-item">
        <img src="../../../assets/img/Vecr.png" alt="Renal Medicine Icon">
        <span>Renal Medicine</span>
    </div>
    <div class="grid-item">
        <img src="../../../assets/img/Vecr.png" alt="Gastroenterology Icon">
        <span>Gastroenterology</span>
    </div>
    <div class="grid-item">
        <img src="../../../assets/img/Vecr.png" alt="Urology Icon">
        <span>Urology</span>
    </div>
    <div class="grid-item">
        <img src="../../../assets/img/Vecr.png" alt="Dermatology Icon">
        <span>Dermatology</span>
    </div>
    <div class="grid-item">
        <img src="../../../assets/img/Vecr.png" alt="Gynaecology Icon">
        <span>Gynaecology</span>
    </div>
</div>  
