    <div class="basr">
    <h1>Better Information, Better Health</h1>
    <h2>News</h2>
</div>
    <div class="news-container">
        <div class="news-card">
            <img src="../../../assets/img/Rectangle 34.jpg" alt="News Image">
            <div class="description">
                <div class="date-author">Monday 05, September 2021 | By Author</div>
                <div class="title">This Article's Title goes Here, <br> but not too long.</div>
                <div class="icons">
                    <span><img src="../../../assets/img/view.png" alt="Views"> 68</span>
                    <span><img src="../../../assets/img/heart.png" alt="Likes"> 86</span>
                </div>
            </div>
        </div>
        <div class="news-card">
            <img src="../../../assets/img/Rectangle 34.jpg" alt="News Image">
            <div class="description">
                <div class="date-author">Monday 05, September 2021 | By Author</div>
                <div class="title">This Article's Title goes Here,<br> but not too long.</div>
                <div class="icons">
                    <span><img src="../../../assets/img/view.png" alt="Views"> 68</span>
                    <span><img src="../../../assets/img/heart.png" alt="Likes"> 86</span>
                </div>
            </div>
        </div>
        <div class="news-card">
            <img src="../../../assets/img/Rectangle 34.jpg" alt="News Image">
            <div class="description">
                <div class="date-author">Monday 05, September 2021 | By Author</div>
                <div class="title">This Article's Title goes Here, <br> but not too long.</div>
                <div class="icons">
                    <span><img src="../../../assets/img/view.png" alt="Views"> 68</span>
                    <span><img src="../../../assets/img/heart.png" alt="Likes"> 86</span>
                </div>
            </div>
        </div>
        <div class="news-card">
            <img src="../../../assets/img/Rectangle 34.jpg" alt="News Image">
            <div class="description">
                <div class="date-author">Monday 05, September 2021 | By Author</div>
                <div class="title">This Article's Title goes Here, <br> but not too long.</div>
                <div class="icons">
                    <span><img src="../../../assets/img/view.png" alt="Views"> 68</span>
                    <span><img src="../../../assets/img/heart.png" alt="Likes"> 86</span>
                </div>
            </div>
        </div>
    </div>