{% set title = "Home" %}
{% set bodyClass = "is-home" %}

{% extends "_html/_base/_layouts/_default.html" %}

{% block content %}
    {% include "_html/_base/_includes/_navigation.html" %}
    
    {% include "_html/_base/_includes/_block.html" %}
    {% include "_html/_base/_includes/_1slad.html" %}
    {% include "_html/_base/_includes/_2slad.html" %}
    {% include "_html/_base/_includes/_3slad.html" %}
    {% include "_html/_base/_includes/_4slad.html" %}
    {% include "_html/_base/_includes/_5slad.html" %}
    {% include "_html/_base/_includes/_6slad.html" %}
    {% include "_html/_base/_includes/_7slad.html" %}
{% endblock %}