   <div class="hed"> 
    <h3>ALWAYS CARING</h3>
    <h1>Our Doctors</h1>
</div>
<div class="card-container">
    <div class="card">
        <img src="../../../assets/img/Rectangle 20 (1).jpg" alt="Doctor 1">
        <h2>Doctor's Name</h3>
        <p>NEUROLOGY</p>
        <div class="social-icons">
            <a href="#"><img src="../../../assets/img/linkedin.png" alt="LinkedIn"></a>
            <a href="#"><img src="../../../assets/img/communication.png" alt="Facebook"></a>
            <a href="#"><img src="../../../assets/img/social.png" alt="Instagram"></a>
        </div>
        <button>View Profile</button>
    </div>
    <div class="card">
        <img src="../../../assets/img/Rectangle 20 (2).jpg" alt="Doctor 2">
        <h2>Doctor's Name</h2>
        <p>NEUROLOGY</p>
        <div class="social-icons">
            <a href="#"><img src="../../../assets/img/linkedin.png" alt="LinkedIn"></a>
            <a href="#"><img src="../../../assets/img/communication.png" alt="Facebook"></a>
            <a href="#"><img src="../../../assets/img/social.png" alt="Instagram"></a>
        </div>
        <button>View Profile</button>
    </div>
    <div class="card">
        <img src="../../../assets/img/Rectangle 20.jpg" alt="Doctor 3">
        <h2>Doctor's Name</h2>
        <p>NEUROLOGY</p>
        <div class="social-icons">
            <a href="#"><img src="../../../assets/img/linkedin.png" alt="LinkedIn"></a>
            <a href="#"><img src="../../../assets/img/communication.png" alt="Facebook"></a>
            <a href="#"><img src="../../../assets/img/social.png" alt="Instagram"></a>
        </div>
        <button>View Profile</button>
    </div>
</div>