<div class="doc">
  <div class="bas">
  <h5 class="doc__h5">Caring for Life</h5>
  <h2 class="doc__h2">Leading the Way in Medical Excellence</h2>
  <button class="knopka">Our Services</button>
  </div>
</div>
<div class="awd">
  <div class="aws">
    <h4>Book an Appointment</h4>
    <img src="../../../assets/img/39.-Calendar.png" alt="">
  </div>
  <div class="seo">
    <h4>Book an Appointment</h4>
    <img src="../../../assets/img/27.-Team.png" alt="">
  </div>
  <div class="swo">
    <h4>Book an Appointment</h4>
    <img src="../../../assets/img/15.-Cash.png" alt="">
  </div>
</div>