<div class="container">
    <div class="main-text">CARE YOU CAN BELIEVE IN</div>
    <div class="sub-text">Our Services</div>
</div>
<div class="squares">
    <div class="square">
        <img src="../../../assets/img/medical 1.png" alt="Image 1">
        <div>Free Checkup</div>
    </div>
    <div class="square">
        <img src="../../../assets/img/Vector.png" alt="Image 2">
        <div>Cardiogram</div>
    </div>
    <div class="square">
        <img src="../../../assets/img/Vector (1).png" alt="Image 3">
        <div>Dna Testing</div>
    </div>
    <div class="square">
        <img src="../../../assets/img/Vector (2).png" alt="Image 4">
        <div>Blood Bank</div>
    </div>
</div>